
<form #heroForm="ngForm">
  <input type="text" name="firstname" placeholder="name" [(ngModel)]="usermodel.name">
  <br/>
  <br/>
  <input type="email" name="email" placeholder="email" [(ngModel)]="usermodel.email">
  <br/>
  <br/>
  <input type="password" name="password" placeholder="password" [(ngModel)]="usermodel.password">
  <br/>
  <br/>
  <button name="submit" (click)="submitForm()" [ngStyle]="{'display':isAdd == true ? 'block' : 'none' }">Submit</button>
  <button name="Update" (click)="UpdateForm()" [ngStyle]="{'display':isEdit == true ? 'block' : 'none' }">Update</button>
</form>

<ul>
  
  <li *ngFor="let getUserlist of getUserlist; let i = index" >
    <div class=""><span>{{i}}</span> <span> {{getUserlist.name}} </span> <span> {{getUserlist.email}} </span> <span> {{getUserlist.password}} </span> <span> <button id="{{getUserlist.email}}" (click)="delete(getUserlist.email)">Delete</button> <button id="edit-{{getUserlist.email}}" (click)="edit(getUserlist.email)">Edit</button> </span>  </div>
  </li>
</ul>
